.bglog{
    background-image: linear-gradient(to right,rgb(26, 204, 248),rgba(17, 143, 105, 0.904));
    height:100vh;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}
.radius{
    border-radius: 10px;
    width:750px;
    height: 400px;
    box-shadow: 500px;
    border:solid rgb(15, 15, 15) 3px;

}
.icon{
    border:1px solid black;
    border-radius: 5px;
    
}
.inp{
    height: 50px;
    width: 70%;
    border:none;
    outline: none;
    border-radius: 60px;
}
.imgs{
    height:200px;
    width:1000px;
    background-size: cover;
    margin-left: 3px;
}
h1{
    margin-left: 2px;
}
  